

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0px;
}

/*==================================================
スライダーのためのcss*/
.slider img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
}
.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
}
/*===================================*/
h1{
  padding-left: 80px;
  font-size:17px;
  line-height: 1.1;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#434343
}

h3{
  font-size:25px;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-size:15px;
  line-height:1.8;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color:#cfcfcf;
  margin:0px;
  padding: 0px;
}
.home{
  height:100vh;
  position:relative;
}
.tel{
  height:100px;
  width: 550px;
  position: absolute;
  z-index: 1;
  
}

.title{
  height : 200px;
  width : 200px;
  background-color: rgb(241, 231, 222);
  position: absolute;
  z-index: 1;
  right:0px;
  top:0px;
}


.images{
  height: 610px;
  padding-top: 80px;
  background-color:#cfcfcf;
  position: relative;
  z-index: 0;
}

.image{
    position:absolute;
    opacity: 0;
    animation: change-img-anim 30s infinite;
    border: 2px solid azure;
}

.image:nth-of-type(1) {
    animation-delay: 0s;
  }
  .image:nth-of-type(2) {
    animation-delay: 10s;
  }
  .image:nth-of-type(3) {
    animation-delay: 20s;
  }
  
  @keyframes change-img-anim {
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    90%{ opacity: 1;}
    100%{ opacity: 0;}
  }

/****************************************/
.contents-box{
  position: relative; 
  width:1000px;
  height:auto;
  margin:0 auto;
  display: flex; /* Flexboxを適用 */
}
.contentsImg{
  left: 0%;
  top: 0%;
  display: block;
  width:500px;
  padding-top: 30px;
  text-align: center;
  position:relative; /*写真重ねるため*/
  float:left;
}
.conImg01,.conImg02,.conImg03{
  position: absolute;
  opacity: 0;
  top: 10px;
  left: 30px;
}

.contentsText{
  width:400px;
  float:left;
  margin-left:40px;
}
.t1,.t2,.t3{
  height: 100vh;
  display: flex;
  align-items: center;
}
.text01{
  text-align: center;
}
.text02{
  text-align: center;
}

.h3{
  font-size:10px;
}
/**********************************/
/*product**************************/
.products{
  height:800px;
  background-color:antiquewhite;
  position: relative; 
  width:1000px;
  margin:0 auto;
  display: flex; /* Flexboxを適用 */
  margin-top: 30px;
}

/*最後のヘッダー*******************/
.header-list{
    margin-left:auto;
    margin-right:auto;
    width:700px;
}

li {
    list-style: none;
    float:left;
    margin:20px;
   }
a{
    color:inherit;
    text-decoration: none;
}
/**********************************/
